<%- include("../common/header") -%>
    <div class="col-lg-offset-2 col-lg-8" style="margin-bottom: 20px;">
        <form class="form-inline" method="post" action="/matches/">
            <div class="col-lg-1"><label for="searchBox">Keresés:</label></div>
            <div class="col-lg-9" style="margin-top: -10px">
                <input type="text" class="form-control" style="width: 100%" name="keyword" placeholder="csapatnév, bajnokság neve">
            </div>
            <div class="col-lg-2"><button class="btn btn-default" type="submit">Keresés!</button></div>
        </form>
    </div>

    <%
    if (matches.length > 0) {
        for (var i = 0; i < matches.length; i++) {
            var x = matches[i]; %>
    <div class="panel panel-default col-lg-8 col-lg-offset-2">
        <div class="panel-heading"><%=x.matchType %></div>
        <div class="panel-body">
            <table class="matchtable" style="width: 100%">
                <tr>
                    <td style="text-align: right; width: 42%;"><%=x.homeTeam.name %></td>
                    <td style="text-align: center; width: 16%"><%=x.homeScore%> - <%=x.awayScore%></td>
                    <td style="width: 42%;"><%=x.awayTeam.name%></td>
                </tr>
                <tr>
                    <td><%=x.stadium %>, <%= x.date %></td>
                    <td />
                    <td style="text-align:right"><%=x.referee%></td>
                </tr>
                <tr>
                    <td><%=x.spectators%> néző</td>
                    <td />
                    <td style="text-align:right">
                        <a class="btn btn-default" type="button" value="Módosít" href="/match/<%=x._id %>/edit">Módosít</a>
                        <input class="btn btn-danger deleteBtn" type="button" value="Törlés" data-id="<%=x._id %>" data-toggle="modal"
                               data-target="#confirmdialog" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <%
        }
    } else {
    %>
        <div class="col-lg-8 col-lg-offset-2" style="text-align: center;">
            Nincs egyetlen meccs sem!
        </div>
    <%
        }
    %>
</div>

<div class="modal" style="display: none" id="confirmdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Megerősítés</h4>
            </div>
            <div class="modal-body">
                <p>Biztos, hogy törlöd a következő meccset?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nem</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="yesBtn">Igen</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" style="display: none" id="resultDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eredmény</h4>
            </div>
            <div class="modal-body">
                <p>Sikertelen törlés!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="okBtn">OK</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#confirmdialog").on("shown.bs.modal", function(e) {
        var btn = $(e.relatedTarget);
        var id = $(btn).data("id");
        $("#confirmdialog #yesBtn").one("click", function(evt) {
            $.ajax({
                url: "/match/" + id + "/delete",
            }).done(function() {
                window.location.href = "/matches";
            }).fail(function() {
                $("#resultDialog").modal("toggle");
            });
        });
    });
</script>
<%- include("../common/footer") -%>