<%- include("../common/header") -%>
<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li><a href="/match/create">Új meccs létrehozása</a></li>
        <li><a href="/team/create">Új csapat hozzáadása</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <%- include("../common/loginpanel") -%>
    </ul>
</div><!--/.nav-collapse -->
</div>
</nav>
<div class="container" style="margin-top: 80px;">
    <div style="text-align: center">
        <a href="/matches/">Vissza a meccsekhez!</a>
    </div>
    <form class="form-horizontal" method="post" action="<%=action%>">
        <fieldset>
            <legend>Meccs hozzáadása</legend>
            <div class="form-group">
                <label for="homeTeam" class="col-lg-2 control-label">Hazai csapat:</label>
                <div class="col-lg-10">
                    <select class="form-control" id="homeTeam" name="homeTeam">
                        <% for (var i = 0; i < teams.length; i++) {
                             var x = teams[i];
                        %>
                        <option value="<%=x.id %>"<%=(x.id == defaultData.homeTeam.id) ? " selected=\"selected\"" : ""%>><%=x.name %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="awayTeam" class="col-lg-2 control-label">Vendég csapat:</label>
                <div class="col-lg-10">
                    <select class="form-control" id="awayTeam" name="awayTeam">
                        <% for (var i = 0; i < teams.length; i++) {
                            var x = teams[i];
                        %>
                        <option value="<%=x.id %>"<%=(x.id == defaultData.awayTeam.id) ? " selected=\"selected\"" : ""%>><%=x.name %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="homeScore" class="col-lg-2 control-label">Hazai eredmény:</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="homeScore" name="homeScore" value="<%=defaultData.homeScore%>">
                </div>
            </div>
            <div class="form-group">
                <label for="awayScore" class="col-lg-2 control-label">Vendég eredmény:</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="awayScore" name="awayScore" value="<%=defaultData.awayScore%>">
                </div>
            </div>
            <div class="form-group">
                <label for="stadium" class="col-lg-2 control-label">Stadion:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="stadium" name="stadium" value="<%=defaultData.stadium%>">
                </div>
            </div>
            <div class="form-group">
                <label for="referee" class="col-lg-2 control-label">Játékvezető:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="referee" name="referee" value="<%=defaultData.referee%>">
                </div>
            </div>
            <div class="form-group">
                <label for="spectatorCount" class="col-lg-2 control-label">Nézőszám:</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="spectatorCount" name="spectators" value="<%=defaultData.spectators%>">
                </div>
            </div>
            <div class="form-group">
                <label for="matchType" class="col-lg-2 control-label">Típus:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="matchType" name="matchType" value="<%=defaultData.matchType%>">
                </div>
            </div>
            <div class="form-group">
                <label for="matchDate" class="col-lg-2 control-label">Dátum:</label>
                <div class="col-lg-10">
                    <input type="date" class="form-control" id="matchDate" name="date" value="<%=defaultData.date%>">
                </div>
            </div>
            <div class="form-group">
                <label for="matchTime" class="col-lg-2 control-label">Időpont:</label>
                <div class="col-lg-10">
                    <input type="time" class="form-control" id="matchTime" name="time" value="<%=defaultData.time%>">
                </div>
            </div>
            <div class="form-group" style="text-align:right">
                <input type="submit" value="Mentés" class="btn btn-default" />
            </div>
        </fieldset>
    </form>
</div><!-- /.container -->
<%- include("../common/footer")-%>